# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

!run/data/edibomination-foods/loot_table/blocks/food_processor.json
run/saves
run/mods
run/logs
run/resources
run/resourcepacks
run/downloads

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
